body {
    margin: 0 auto;
    max-width: 50em;
    height: 100%;
    padding: 1em 1em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    color: rgba(85, 85, 85, 1);
}

h1, h2, strong {
    color: rgba(51, 51, 51, 1);
}

a {
    color: rgba(232, 28, 79, 1);
}

header {
    text-align: center;
    border-bottom: 1px solid rgba(85, 85, 85, .1);
}

header h1 {
    font-size: 3rem;
}

time {
    color: rgba(85, 85, 85, .5);
}

blockquote {
    background: rgb(245, 247, 249);
    border-bottom: 1px solid rgb(216, 222, 233);
    border-left: 2px solid rgb(102, 153, 204);
    color: rgb(167, 173, 186);
    padding: 1em;
}

img {
    border: 1px solid rgba(85, 85, 85, .2);
    border-radius: 5px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}


/* layout.ejs */

.wrapper {
    min-height: calc(100vh - 200px);
}

.menu {
    font-size: 1.5rem;
    list-style: none;
}

.menu__item {
    display: inline;
    padding: 0em .5em;
}

.menu__item a {
    color: rgba(85, 85, 85, 1);
    text-decoration: none;
}

.menu__item a:hover {
    color: rgba(232, 28, 79, 1);
    text-decoration: underline;
}

.content {
    padding: 1em 0;
}

.footer {
    height: 100px;
    padding-top: 1em;
    text-align: center;
    color: rgba(85, 85, 85, .5);
    border-top: 1px solid rgba(85, 85, 85, .1);
}

.footer a {
    color: rgba(232, 28, 79, .7);
    text-decoration: none;
}

.footer a:hover {
    color: rgba(232, 28, 79, 1);
    text-decoration: underline;
}


/* archive.ejs */

.archive {
    list-style: none;
}

.archive__item {
    line-height: 2em;
}

.archive__item a {
    color: rgba(85, 85, 85, 1);
    text-decoration: none;
    padding-left: 1em;
}

.archive__item a:hover {
    color: rgba(232, 28, 79, 1);
    text-decoration: underline;
}


/* post.ejs */

.post__title {
    line-height: 1.2em;
}

.post__meta {
    color: rgba(85, 85, 85, .5);
}

.post__meta a {
    color: rgba(85, 85, 85, .5);
    text-decoration: none;
}

.post__meta a:hover {
    color: rgba(232, 28, 79, 1);
    text-decoration: underline;
}

.post__date {
    margin-right: .5em;
}

.post__tag-list {
    list-style: none;
    display: inline;
    margin-left: .5em;
}

.post__tag-list-item {
    display: inline;
    margin: 0px 3px;
}
