<header>
  <h1><%= config.title %></h1>
  <nav>
    <ul class="menu">
        <% for (name in theme.menu||config.menu) { %>
          <li class="menu__item">
            <a href="<%- url_for(theme.menu[name]||config.menu[name]) %>"><%= name %></a>
          </li>
        <% } %>
      </ul>
  </nav>
</header>
