<header>
  <h1><%= config.title %></h1>
  <nav>
    <ul class="menu">
      <% var menu = config.menu||theme.menu; %>
        <% for (name in menu) { %>
          <li class="menu__item">
            <a href="<%- url_for(menu[name]) %>"><%= name %></a>
          </li>
        <% } %>
      </ul>
  </nav>
</header>
